
@*@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}*@

<h2>contact</h2>
<hr />

<ul>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
    <li>deneme deneme</li>
</ul>
