
@{
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>homepage</h2>
<hr />
<p>sşdlkjfşlsdkjfilksdfiksdifksd
    sdjfhşsldjfs
    sdflshdşlfjsdf şsdkjfiksjdf</p>

<p>sşdkfjşskdmfss sdfksşdlkfş sdlkfls kdfşlsk şflksdşlf ksdlkfi skfğoskrgnslgjnsrı</p>

<p>
    sdfsdfsdf
    sdflksdnflksfksdfs fsdjfnsldf sjd fljsd f
</p>

