<h4>Faydalı Linkler</h4>
<hr />
<ul>
    <li><a href="#">faydalı link1</a></li>
    <li><a href="#">faydalı link1</a></li>
    <li><a href="#">faydalı link1</a></li>
    <li><a href="#">faydalı link1</a></li>
</ul>