
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homepage</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <input type="button" name="btn1" value="Gönder" class="btn btn-danger" />
        <br />
        <br />
        <a href="http://www.turhanyildirim.com" class="btn btn-success btn-lg">Türhan Yıldırım Blog Sayfası</a>
        <br />
    </div>

    @*
        lg > large
        md > laptop, desktop
        sm > tablet
        xs > phone
    *@

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                sdfsdfsdi oskodıfsşdkf sidkfi sdkfisdf
            </div>
            <div class="col-md-4">
                sdfsldflişksd fsşdlkfşslkfş sdşfk sdşfjsdp jflsdıjfşlsdkjflksdj fisıdjf isdkjf isdkhfiksdf is
            </div>
            <div class="col-md-4">
                sodkfişlsd fsşdkfjisşdjfişsdj fiksşjdf ikjsdifkjsdişfkjsdşikfjdsşikfjdksşfjisşdkjf isşkdjfiksdjf idksşjfdksşijfdks şfjs
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-12">
                <h2>lorem ipsum</h2>
                sdfsdfsdi oskodıfsşdkf sidkfi sdkfisdf
                <hr/>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12">
                <h2>lorem ipsum</h2>
                sdfsldflişksd fsşdlkfşslkfş sdşfk sdşfjsdp jflsdıjfşlsdkjflksdj fisıdjf isdkjf isdkhfiksdf is
                <hr/>
            </div>
            <div class="col-md-4 col-sm-2 col-xs-12">
                <h2>lorem ipsum</h2>
                sodkfişlsd fsşdkfjisşdjfişsdj fiksşjdf ikjsdifkjsdişfkjsdşikfjdsşikfjdksşfjisşdkjf isşkdjfiksdjf idksşjfdksşijfdks şfjs
                <hr/>
            </div>
        </div>
    </div>

</body>
</html>
