
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homepage3</title>
</head>
<body>
    <div>
        @MyHelperMethods.Input("button1", "button", "Gönder")
    </div>
    <div>
        @MyHelperMethods.Table("table1", 3, 3, "Ad", "Soyad", "Yaş")
</div>
</body>
</html>
