
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>blog</title>
</head>
<body>
    <div>
        <h2>Blog Page</h2>
        <hr />
    </div>
    <div>
        <b>Ad - Soyad:</b> @Html.TextBox("text1")
        <br />
        <b>Bool veri türü:</b> @Html.CheckBox("check1")
    </div>
</body>
</html>
