
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div> 
        body
        <p>
            Bişiler
        </p>
        @Html.Partial("_PartialFaydaliLinkler")
    </div>
    <div>
        Tüm hakları saklıdır.
    </div>
</body>
</html>
